{% load static %}
<section id="profile-contact">
    <div class='profile-section-desc-center' style="padding-top:10px;">
            <h1 style="padding-bottom:30px">아이디어, 의견, 피드백도 환영합니다.</h1>
            <div class='profile-section-desc-center-text'>
                <p>
                웹, 데이터 분석, 사용자 경험, 서비스 기획 등 함께 이야기해볼 수 있다면 언제든 기쁠 것 같습니다.
                아직 배우고 있는 입장이기에 다양한 시각을 듣고 생각을 나누는 것을 소중하게 생각합니다.</p>
                <p></p>
                <br>
                <p style="text-align: center;">조언이나 제안도, 가벼운 관심도 감사히 받겠습니다. 궁금한 점이나 함께 이야기 나누고 싶은 주제가 있다면 언제든 연락주세요.</p>
                <p style="text-align: center;">hoyun131@naver.com</p>
            </div>

            <a class='btn btn-primary' href="mailto:hoyun131@naver.com">Mail me</a>
    </div>
    
</section>